PORT=4000

FRONTEND_URL = 

SERVER_HOST_NAME =

#Message broker key's
MSG_QUEUE_URL_DEV=
MSG_QUEUE_URL_SERVER=

MONGO_HOST_DEV=127.0.0.1
MONGO_PORT_DEV=27017
MONGO_DB_DEV=boilerplate

MONGO_HOST_TEST=localhost
MONGO_PORT_TEST=27017
MONGO_DB_TEST=test

MONGO_HOST_PROD=localhost
MONGO_PORT_PROD=27017
MONGO_DB_PROD=test

JWT_SECRET= 
CRYPTO_SECRET= 
JWT_EXPIRES_TIME = 7d

GOOGLE_MAP_API_KEY=
MAPBOX_PUBLIC_KEY=